#purpose-intro-box {
  background-color: $secondary-bg-color;
  padding: 40px 0;

  .intro-box-text {
    color: $tertiary-text-color;
    text-align: center;
    font-size: 1.4rem;

    span {
      font-weight: 500;
      font-style: italic;
      color: $secondary-text-color;
      text-transform: uppercase;
    }
  }
}

#main-page-about-us {
  margin: 60px 0;
}
