@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fancyapps/fancybox/dist/jquery.fancybox";

@import "common/colors";
@import "common/buttons";

@import "includes/header";
@import "includes/navigation";
@import "includes/footer";

@import "pages/home";
@import "pages/about_us";
@import "pages/purchase_price";
@import "pages/documents";
@import "pages/offers";
@import "pages/news";
@import "pages/contacts";

body {
  font-family: "Roboto", Arial, serif;
  font-size: 16px;
  background-color: $primary-bg-color;
}

.section-inner {
  margin: 80px 0;
}

.title {
  font-size: 1.5rem;
  color: $primary-text-color;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid $primary-text-color;
}

.secondary-title {
  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }
  .inner-secondary-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(106, 106, 106);
    border-bottom: 2px solid $primary-text-color;
    padding-bottom: 5px;

    span {
      &:last-of-type {
        letter-spacing: 0;
      }
    }
  }
}

.gallery-img {
  position: relative;
  display: block;
  margin: 15px 0;
  box-shadow: -9px 9px 9px -2px rgba(0, 0, 0, 0.33);
  transition: 0.3s all;

  &:after {
    content: "";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $tertiary-text-color;
    transition: 0.3s all;
  }

  &:hover,
  &:active,
  &:focus {
    &:after {
      content: "\f00e";
      background-color: rgba(0, 0, 0, 0.6);
      font-size: 2rem;
    }
  }
}

.text {
  padding: 20px 0;
  font-size: 1.125rem;
}

.text-bold {
  font-weight: 500;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-orange {
  color: $secondary-text-color;
}

.text-upercase {
  text-transform: uppercase;
}

.custom-ul {
  padding: 0;
  list-style-type: none;
  margin: 0;

  li {
    padding: 6px 0;
  }

  .list-icon {
    margin-right: 15px;

    i {
      font-size: 1.2rem;
    }
  }
}

.breadcrumbs {
  background-color: $tertiary-bg-color;
  color: $tertiary-text-color;
  text-align: right;

  .breadcrumbs-text {
    a {
      color: $tertiary-text-color;
    }
  }
}
