#header {
  .header-content-holder {
    background-image: url("images/photo-of-red-suv-on-dirt-road-1592261.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .main-page-title-holder {
    padding: 60px 50px;
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateY(70px);
  }

  .main-page-title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 40px;

    .title-bolder {
      font-weight: 900;
      font-style: italic;
    }
  }
}
