#header {
    .header-content-holder {
        background-image: url("images/photo-of-red-suv-on-dirt-road-1592261.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
}
