.navigation-holder {
    background-color: $secondary-bg-color;
    opacity: 0.8;
}

.navbar-light {
    .custom-navbar-brand {
        color: $tertiary-text-color;
    }

    .navbar-nav {
        .custom-nav-link {
            color: $tertiary-text-color;
            text-transform: uppercase;
            font-size: 1.125rem;
            padding: 20px 30px;

            &.active {
                color: $secondary-text-color;
                font-weight: 900;
            }

            &:hover,
            &:focus,
            &:active {
                color: $secondary-text-color;
            }
        }
    }
}

.custom-navbar-collapse {
    justify-content: flex-end;
}
