.navigation-holder {
  background-color: $secondary-bg-color;
  opacity: 0.8;

  @media screen and (max-width: 991px) {
    opacity: 1;
  }
}

.custom-navbar {
  padding: 0 15px;

  .custom-navbar-brand {
    color: $tertiary-text-color;
  }

  .navbar-nav {
    .custom-nav-link {
      color: $tertiary-text-color;
      text-transform: uppercase;
      font-size: 1.125rem;
      padding: 25px 20px;
      position: relative;

      &.active {
        color: $secondary-text-color;
        font-weight: 900;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: $tertiary-bg-color;
        }
      }

      &:hover,
      &:focus,
      &:active {
        color: $secondary-text-color;
      }

      @media screen and (min-width: 991px) and (max-width: 1199px) {
        padding: 25px 15px;
      }

      @media screen and (max-width: 991px) {
        padding: 15px;
        text-align: center;
      }
    }
  }

  .navbar-toggler-icon {
    i {
      color: $primary-bg-color;
      font-size: 28px;
    }
  }

  @media screen and (max-width: 991px) {
    padding: 10px 15px;
  }
}

.custom-navbar-collapse {
  justify-content: flex-end;
}
